@use "variable";

:root {
  --point-lch: lch(38.55% 34.6 118.46 / 0.4);
  --point-lch-code: lch(92.06% 26.63 106.37 / 0.923);
  //--point-lch-code: 65% 65 350;
}

html {
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: inherit;
  font-family: "Noto Sans KR";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-family: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}